{% extends "index.html" %}
{% block navbar %}
{% if let Some(avatar_url) = user.avatar_url %}
<div class="avatar mr-4">
  <div class="w-10 rounded-full">
    <img src="{{ avatar_url }}" />
  </div>
</div>
{% endif %}
<span class="mr-4">{{ user.display_name() }}</span>
<a class="indicator-item mr-5 rounded-full bg-error p-1" href="/auth/logout">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
    class="h-6 w-6">
    <path stroke-linecap="round" stroke-linejoin="round"
      d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
  </svg>
</a>
{% endblock %}
{% block content %}
<div role="tablist" class="tabs tabs-lift max-w-6xl w-full">
  {% let t_quote_mode = self::t(language, "quote-mode") %}
  <input type="radio" class="tab" name="mode" value="quote" aria-label="{{ t_quote_mode }}" {% if quote_mode_selected
    %}checked{% endif %} />
  <div role="tabpanel" class="tab-content border-t-base-300 w-full">
    <div class="pt-4 flex flex-col items-center w-full">
      <div class="max-w-5xl w-full">
        <h2 class="mb-2 text-xl font-bold">{{ language|t("add-quote") }}</h2>
        <form class="fieldset w-full" method="post">
          <input type="hidden" name="type" value="add_quote" />
          <div role="tablist" class="tabs tabs-border w-full">
            {% let t_add_one_by_one = self::t(language, "add-one-by-one") %}
            <input type="radio" class="tab" name="add_quote_mode" value="one_by_one" aria-label="{{ t_add_one_by_one }}"
              {% if !is_quote_bulk_selected %}checked{% endif %} />
            <div role="tabpanel" class="tab-content pt-2">
              <label class="label whitespace-normal">
                {{ language|t("add-quote-one-by-one-guide") }}
              </label>
              <textarea
                class="w-full textarea textarea-bordered{% if quote_error.is_some() %} textarea-error{% endif %}"
                name="quote" placeholder="{{ t_add_one_by_one }}" value="{{ quote_input }}"></textarea>
            </div>

            {% let t_add_bulk = self::t(language, "add-bulk") %}
            <input type="radio" class="tab" name="add_quote_mode" value="bulk" aria-label="{{ t_add_bulk }}" {% if
              is_quote_bulk_selected %}checked{% endif %} />
            <div role="tabpanel" class="tab-content pt-2">
              <label class="label whitespace-normal">
                {{ language|t("add-quote-bulk-guide") }}
              </label>
              <textarea
                class="w-full textarea textarea-bordered{% if quote_error.is_some() %} textarea-error{% endif %}"
                name="quote_bulk" placeholder="{{ t_add_bulk }}" value="{{ quote_bulk_input }}"></textarea>
            </div>
          </div>

          {% if let Some(error) = quote_error %}
          {% if let Some(detail) = error.detail %}
          <details class="label text-error whitespace-normal">
            <summary>{{ error.summary }}</summary>
            <p class="m-2.5 whitespace-pre-wrap font-mono">{{- detail -}}</p>
          </details>
          {% else %}
          <label class="label text-error whitespace-normal">{{ error.summary }}</label>
          {% endif %}
          {% endif %}
          <div class="flex justify-center w-full mt-5">
            {% let t_add_quote = self::t(language, "add-quote") %}
            <input type="submit" class="btn btn-primary max-w-3xs w-full" value="{{ t_add_quote }}" />
          </div>
        </form>
      </div>
      <div class="divider"></div>

      <div class="max-w-xl w-full">
        <h2 class="mb-2 text-xl font-bold">{{ language|t("configure-schedule") }}</h2>
        <form class="fieldset" method="post">
          <input type="hidden" name="type" value="configure_schedule" />
          <label class="label whitespace-normal">{{ language|t("cron-expression") }}</label>
          <input type="text" class="input-bordered input{% if cron_error.is_some() %} input-error{% endif %}"
            name="cron" placeholder="0 0 * * *" value="{{ cron_input }}" required />

          {% if let Some(error) = cron_error %}
          {% if let Some(detail) = error.detail %}
          <details class="label text-error whitespace-normal">
            <summary>{{ error.summary }}</summary>
            <p class="m-2.5 whitespace-pre-wrap font-mono">{{- detail -}}</p>
          </details>
          {% else %}
          <label class="label text-error whitespace-normal">{{ error.summary }}</label>
          {% endif %}
          {% endif %}

          <details class="label whitespace-normal">
            <summary>
              {{ language|t("what-is-cron-expression") }}
            </summary>
            <div class="m-2.5">
              <p class="mb-2">{{ language|t("cron-expression-guide") }}</p>
              <p>{{ language|t("useful-links") }}:</p>
              <ul class="mb-2 list-inside list-disc">
                <li>
                  <a class="link" href="https://en.wikipedia.org/wiki/Cron" target="_blank" rel="noopener noreferrer">
                    Wikipedia
                  </a>
                </li>
                <li>
                  <a class="link" href="https://crontab.guru/" target="_blank" rel="noopener noreferrer">
                    crontab.guru
                  </a>
                </li>
              </ul>
              <table class="mb-2 border-separate border-spacing-x-2">
                <caption>
                  {{ language|t("cron-expression-examples") }}
                </caption>
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><code class="font-mono">0 * * * *</code></td>
                    <td>{{ language|t("cron-expression-example-1") }}</td>
                  </tr>
                  <tr>
                    <td><code class="font-mono">30 * * * *</code></td>
                    <td>{{ language|t("cron-expression-example-2") }}</td>
                  </tr>
                  <tr>
                    <td><code class="font-mono">*/10 * * * *</code></td>
                    <td>{{ language|t("cron-expression-example-3") }}</td>
                  </tr>
                  <tr>
                    <td><code class="font-mono">0 3 * * *</code></td>
                    <td>{{ language|t("cron-expression-example-4") }}</td>
                  </tr>
                  <tr>
                    <td><code class="font-mono">0 3-8 * * *</code></td>
                    <td>{{ language|t("cron-expression-example-5") }}</td>
                  </tr>
                  <tr>
                    <td><code class="font-mono">*/10 3-8 * * *</code></td>
                    <td>{{ language|t("cron-expression-example-6") }}</td>
                  </tr>
                  <tr>
                    <td><code class="font-mono">0 3 * * 1</code></td>
                    <td>{{ language|t("cron-expression-example-7") }}</td>
                  </tr>
                </tbody>
              </table>
              <p>{{ language|t("cron-expression-warning-utc") }}</p>
            </div>
          </details>

          <label class="label label-text whitespace-normal">
            {{ language|t("dedup-duration-minutes") }}
          </label>
          <div class="join">
            <input type="number" class="input join-item input-bordered" name="dedup_duration_minutes" placeholder="1"
              min="0" value="{{ dedup_duration_minutes }}" />
            <label class="label join-item bg-base-200 px-2">
              {{ language|t("minutes") }}
            </label>
          </div>

          <label class="label cursor-pointer">
            <input type="checkbox" class="toggle toggle-warning" name="suspend" {% if suspend_schedule %}checked{% endif
              %} />
            {{ language|t("suspend") }}
          </label>

          <div class="flex justify-center w-full mt-5">
            {% let t_save = self::t(language, "save") %}
            <input type="submit" class="btn btn-primary max-w-3xs w-full" value="{{ t_save }}" />
          </div>
        </form>
      </div>
      <div class="divider"></div>

      <div class="max-w-4xl w-full">
        <h2 class="mb-1 text-xl font-bold">{{ language|t("quote-list") }}</h2>
        <label class="mb-2 label whitespace-normal">{{ language|t("quote-post-guide") }}</label>

        {% if quotes.is_empty() %}
        <div class="text-neutral-content">{{ language|t("empty") }}</div>
        {% else %}

        {% for (id, (quote, sent_recently)) in quotes.iter().rev() %}
        <div class="chat chat-start py-4">
          {% if let Some(avatar_url) = user.avatar_url %}
          <div class="avatar chat-image">
            <div class="w-10 rounded-full">
              <img src="{{ avatar_url }}" />
            </div>
          </div>
          {% endif %}
          <div class="chat-bubble indicator">
            <form class="indicator-item rounded-full bg-error" method="post">
              <input type="hidden" name="type" value="delete_quote" />
              <input type="hidden" name="quote_id" value="{{ id }}" />
              <label class="cursor-pointer">
                <input type="submit" class="hidden" value="" />
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                  <path
                    d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                </svg>
              </label>
            </form>
            <p class="whitespace-pre-wrap">{{- quote -}}</p>
          </div>
          {% if sent_recently %}
          <div class="chat-footer opacity-50">{{ language|t("sent-recently") }}</div>
          {% endif %}
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

  {% let t_reply_mode = self::t(language, "reply-mode") %}
  <input type="radio" class="tab" name="mode" value="reply" aria-label="{{ t_reply_mode }}" {% if !quote_mode_selected
    %}checked{% endif %} />
  <div role="tabpanel" class="tab-content border-t-base-300 w-full">
    <div class="pt-4 flex flex-col items-center w-full">
      <div class="max-w-5xl w-full">
        <h2 class="mb-2 text-xl font-bold">{{ language|t("add-reply") }}</h2>
        <form class="fieldset w-full" method="post">
          <input type="hidden" name="type" value="add_reply" />
          <label class="label">
            {{ language|t("keyword") }}
          </label>
          <input type="text" class="input-bordered input w-full" name="keyword" value="{{ reply_keyword_input }}"
            required />
          <label class="label whitespace-normal mb-2">
            {{ language|t("keyword-guide") }}
          </label>
          <div role="tablist" class="tabs tabs-border w-full">
            {% let t_add_one_by_one = self::t(language, "add-one-by-one") %}
            <input type="radio" class="tab" name="add_reply_mode" value="one_by_one" aria-label="{{ t_add_one_by_one }}"
              {% if !is_reply_bulk_selected %}checked{% endif %} />
            <div role="tabpanel" class="tab-content pt-2">
              <label class="label whitespace-normal">
                {{ language|t("add-reply-one-by-one-guide") }}
              </label>
              <textarea
                class="w-full textarea textarea-bordered{% if reply_error.is_some() %} textarea-error{% endif %}"
                name="reply" placeholder="{{ t_add_one_by_one }}" value="{{ reply_input }}"></textarea>
            </div>

            {% let t_add_bulk = self::t(language, "add-bulk") %}
            <input type="radio" class="tab" name="add_reply_mode" value="bulk" aria-label="{{ t_add_bulk }}" {% if
              is_reply_bulk_selected %}checked{% endif %} />
            <div role="tabpanel" class="tab-content pt-2">
              <label class="label whitespace-normal">
                {{ language|t("add-reply-bulk-guide") }}
              </label>
              <textarea
                class="w-full textarea textarea-bordered{% if reply_error.is_some() %} textarea-error{% endif %}"
                name="reply_bulk" placeholder="{{ t_add_bulk }}" value="{{ reply_bulk_input }}"></textarea>
            </div>
          </div>

          {% if let Some(error) = reply_error %}
          {% if let Some(detail) = error.detail %}
          <details class="label text-error whitespace-normal">
            <summary>{{ error.summary }}</summary>
            <p class="m-2.5 whitespace-pre-wrap font-mono">{{- detail -}}</p>
          </details>
          {% else %}
          <label class="label text-error whitespace-normal">{{ error.summary }}</label>
          {% endif %}
          {% endif %}
          <div class="flex justify-center w-full mt-5">
            {% let t_add_reply = self::t(language, "add-reply") %}
            <input type="submit" class="btn btn-primary max-w-3xs w-full" value="{{ t_add_reply }}" />
          </div>
        </form>
      </div>
      <div class="divider"></div>

      <div class="max-w-xl w-full">
        <h2 class="mb-2 text-xl font-bold">{{ language|t("configure-reply") }}</h2>

        <form class="fieldset" method="post">
          <input type="hidden" name="type" value="configure_reply" />
          <label class="label cursor-pointer">
            <input type="checkbox" class="toggle toggle-primary" name="enable" {% if enable_reply %}checked{% endif
              %} />
            {{ language|t("enable") }}
          </label>
          <label class="label mt-4 whitespace-normal">{{ language|t("dice-feature-guide") }}</label>
          <label class="label cursor-pointer">
            <input type="checkbox" class="toggle toggle-secondary" name="dice_feature" {% if enable_dice_feature
              %}checked{% endif %} />
            {{ language|t("dice-feature") }}
          </label>
          <div class="flex justify-center w-full mt-5">
            {% let t_save = self::t(language, "save") %}
            <input type="submit" class="btn btn-primary max-w-3xs w-full" value="{{ t_save }}" />
          </div>
        </form>
      </div>
      <div class="divider"></div>

      <div class="max-w-4xl w-full">
        <h2 class="mb-1 text-xl font-bold">{{ language|t("reply-list") }}</h2>
        <label class="mb-2 label whitespace-normal">{{ language|t("reply-post-guide") }}</label>

        {% if reply_map.is_empty() %}
        <div class="text-neutral-content">{{ language|t("empty") }}</div>
        {% else %}

        {% for (keyword, replies) in reply_map.iter() %}
        {% if !replies.is_empty() %}
        <div class="chat chat-end py-4">
          <div class="chat-bubble chat-bubble-warning">{{ keyword }}</div>
        </div>
        {% for (id, reply) in replies.iter() %}
        <div class="chat chat-start">
          {% if let Some(avatar_url) = user.avatar_url %}
          <div class="avatar chat-image">
            <div class="w-10 rounded-full">
              <img src="{{ avatar_url }}" />
            </div>
          </div>
          {% endif %}
          <div class="chat-bubble chat-bubble-info indicator py-2">
            <form class="indicator-item rounded-full bg-error" method="post">
              <input type="hidden" name="type" value="delete_reply" />
              <input type="hidden" name="reply_id" value="{{ id }}" />
              <label class="cursor-pointer">
                <input type="submit" class="hidden" value="" />
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                  <path
                    d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                </svg>
              </label>
            </form>
            <p class="whitespace-pre-wrap">{{- reply -}}</p>
          </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="divider"></div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
