{% extends "index.html" %}
{% block content %}
<div class="w-2xl">
  <h2 class="text-xl font-bold">{{ language|t("login") }}</h2>
  <form class="fieldset" method="post">
    <input type="hidden" name="type" value="login" />
    <label class="label whitespace-normal">{{ language|t("domain-input") }}</label>
    <input type="text" class="w-full input{% if domain_error.is_some() %} input-error{% endif %} input-bordered"
      name="domain" placeholder="mastodon.social" value="{{ domain }}" required />
    {% if let Some(error) = domain_error %}
    {% if let Some(detail) = error.detail %}
    <details class="label text-error whitespace-normal">
      <summary>{{ error.summary }}</summary>
      <p class="m-2.5 whitespace-pre-wrap font-mono">{{- detail -}}</p>
    </details>
    {% else %}
    <label class="label text-error whitespace-normal">{{ error.summary }}</label>
    {% endif %}
    {% endif %}
    {% let t_login = self::t(language, "login") %}
    <input type="submit" class="btn btn-primary mt-5" value="{{ t_login }}" />
  </form>
</div>
{% endblock %}
